# Ignore everything in subprojects
subprojects/**

# Allow specific directories/files
!subprojects/miniaudio/
!subprojects/miniaudio/**

!subprojects/pcg/
!subprojects/pcg/**

# Allow traversal into packagefiles
!subprojects/packagefiles/
!subprojects/packagefiles/**

# Allow .wrap files
!subprojects/**/*.wrap

out/**
/docker/.env
