# Copy this file to '.env' and make desired changes

# DC_EXTRA_ARGS=--verbose --log-game-results /dc_data/game_results.md --conf /dc_config/server.conf

# DC_CONFIG_DIR=/home/.../.local/share/dealers-choice
# DC_DATA_DIR=/home/.../.config/dealers-choice

# DC_PASSWORD=
